:root{
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);
    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --transparent-cyan: rgba(0, 255, 247, 0.379);
}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 img{
    max-width: 100%;
 }

 body{
    background-color: var(--blue-950);
    font-family: "Outfit", sans-serif;
    color: var(--blue-500);
    font-size: 1.125rem;
    font-weight: 400;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
 }

 .card{
    background-color: var(--blue-900);
    width: 21rem;
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
 }

 .card__image-container{
    position: relative;
    overflow: hidden;
    cursor: pointer;
 }

 .card__image-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 2;
    pointer-events: none;
 }

 .card__image-container:hover::before{
    background-color: var(--transparent-cyan);
    background-image: url(./images/icon-view.svg);
 }

 .card__img{
    width: 18rem;
    height: 18rem;
    border-radius: 0.5rem;
    display: block;
    z-index: 1;
 }

 .card__title{
    color: var(--white);
    font-weight: 500;
    margin: 1.5rem 0 1rem;
    cursor: pointer;
 }

 .card__title:hover{
    color: var(--cyan-400);
 }

 .card__desc{
    line-height: 1.6;
 }

 .card__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
 }

 .card__icon{
    margin-right: 0.3rem;
    font-size: 0.875rem;
 }

 .card__item--colored{
    color: var(--cyan-400);
 }

 .card__divider{
    width: 100%;
    border: none;
    height: 0.0625rem;
    margin: 1rem 0;
    background-color: var(--blue-800);
 }

 /* The Avatar image */
 .card__user-image{
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--white);
    border-radius: 50%;
 }

 .card__user{
    display: flex;
    align-items: center;
    gap: 1rem;
 }

 .card__link{
    text-decoration: none;
    color: var(--white);
 }

 .card__link:hover{
    color: var(--cyan-400);
 }